<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        FakePinterest
        {% endblock %}
    </title>
</head>
{% block body %}
    <body>
    <h1>FakePinterest - Meu primeiro site no ar</h1>

    <h2>Agora vamos continuar o site</h2>

    {% block form %}
    <form method="POST">
    {{ form.csrf_token }}

        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.password.label() }}
        {{ form.password() }}

        {{ form.button() }}

    </form>
    {% endblock %}

    </body>
{% endblock %}
</html>